[submodule "Mupen64Plus/mupen64plus-core"]
	path = Mupen64Plus/mupen64plus-core
	url = https://github.com/mupen64plus/mupen64plus-core.git
[submodule "Mupen64Plus/mupen64plus-rsp-cxd4"]
	path = Mupen64Plus/mupen64plus-rsp-cxd4
	url = https://github.com/mupen64plus/mupen64plus-rsp-cxd4.git
[submodule "Mupen64Plus/GLideN64"]
	path = Mupen64Plus/GLideN64
	url = https://github.com/gonetz/GLideN64.git
[submodule "Mupen64Plus/libpng"]
	path = Mupen64Plus/libpng
	url = git://git.code.sf.net/p/libpng/code
